@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

* {
    margin: 0;
}

:root{
    --dark-grey:#252525;
    --orange: #ff7800;
    --yellow: #ffae00;
    --black: #000;
    --white: #fff;
    --roboto: 'Roboto', sans-serif;
    --inter: 'Inter', sans-serif;
    --shrikhand: 'Shrikhand', sans-serif;
}

.max-widht-container{
    max-width: 1440px;
    margin: auto;
}

h1,
h2{
    font-family: var(--roboto);
    font-size: 24px;
    font-weight: 700;
    color: var(--black);
}

h3{
    font-family: var(--roboto);
    font-size: 18px;
    font-weight: 800;
    color: var(--black);
}

p{
    font-family: var(--roboto);
    font-size: 15px;
    font-weight: 300;
    color: var(--black);
}

input,
textarea{
    font-family: var(--roboto);
    font-size: 16px;
    font-weight: 400;
    color: var(--black);
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: var(--black);
    transition: all 0.3s;
}

a:hover{
    color: var(--orange);
    transition: all 0.3s;
}

/* Header */

header nav{
    display: none;
}

header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

#burger{
    cursor: pointer;
}

#arrow{
    visibility: hidden;
}

/* Section 1 */

#section1{
    background-color: var(--yellow);
}

#section1 div{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px;
    margin: auto;
}

#section1 p{
    line-height: 20px;
    padding: 10px 0px;
}

#section1 form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
}

#section1 form input{
    background-color: var(--yellow);
    outline: none;
    border: 1px solid var(--yellow);
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 5px;
}

.button-orange{
    background: linear-gradient(to bottom, var(--orange), var(--yellow));
    color: var(--black);
    border: none;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.3);
    margin:auto;
    border-radius: 20px;
    padding: 10px 15px;
    cursor: pointer;
    font-family: var(--roboto);
    font-weight: 500;
    font-size: 14px;
    transition: all 0.3s;
}

.button-orange:hover{
    scale: 103%;
    transition: all 0.3s;
}

::placeholder{
    color: var(--black);
    font-family: var(--inter);
    font-size: 16px;
}

/* Section 2 */

#section2{
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#section2 h2{
    padding-bottom: 10px;
}

#section2 div{
    display: flex;
    align-items: center;
}

.pSection2{
    padding: 15px;
    border: 1px solid var(--white);
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
    flex-grow: 1;
    font-size: 16px;
    font-weight: 500;
}

.classNumber{
    border: 1px solid var(--orange);
    padding: 0px 5px 0px 5px;
    border-radius: 100%;
    position: absolute;
    margin-left: -10px;
    color: var(--white);
    background-color: var(--orange);
    font-size: 16px;
    font-weight: 500;
}

/* Section 3 */

#section3{
    background-color: var(--yellow);
}

#section3 > div{
    display: grid;
    max-width: 1440px;
    margin: auto;
}

#section3 h2{
    padding: 30px 15px;
    max-width: 1440px;
    margin: auto;
}
.fa-thumbs-up{
    cursor: pointer;
}

#section3 input[type="checkbox"]:checked + label .fa-thumbs-up{
    color:black;
    font-weight: 700;
}

#section3 div img{
    width: 100%;
    height: 150px;
    border-radius: 12px 12px 0px 0px;
    object-fit: cover;
}

#section3 article{
    display: flex;
    flex-direction: column;
    margin: 15px;
    background-color: white;
    border-radius: 12px;
}

#section3 article div div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

hr{
    border: 1px solid var(--orange);
    width: 100%;
    margin: 20px 0px;
}

#section3 article > div{
    padding: 10px;
}

#section3 > div > article.news::after{
    content: "New !";
    position: absolute;
    background-color: var(--orange);
    font-family: var(--shrikhand);
    color: var(--white);
    padding: 5px 15px;
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0px 0px -10px;
    rotate: -43deg;
}

input[type="checkbox"]{
    display: none;
}

#leadMore{
    margin: 15px auto 30px auto;
    font-family: var(--roboto);
}

#leadMore:hover{
    color: var(--black);
    transition: all 0.3s;
}

/* Footer */

footer{
    background-color: var(--black);
}

footer ul{
    gap: 10px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}
footer a{
    color: var(--white);
    font-family: var(--roboto);
}

footer h2{
    font-size: 24px;
    font-weight: 700;
    font-family: var(--shrikhand);
    color: var(--white);
    letter-spacing: 2px;
    padding:15px;
}

/* responsive tablette */

@media screen and (min-width: 768px){

#section1 div{
    max-width: 500px;
    margin: auto;
}

#section3 > div{
    grid-template-columns: repeat(2, 1fr);
}
}

@media screen and (min-width: 1024px){
header{
    text-align: end;
    display: grid;
    grid-template-columns: 55% auto;

}

header nav{
    display: flex;
    flex-direction: row-reverse;
}

header nav ul{
    display: flex;
    gap: 40px;
}


#burger{
    display: none;
}

#arrow{
    display: none;
}

#leadMore{
    grid-column: 1 / 3;
}

footer{
    display: flex;
    padding: 15px;
}

footer div{
    align-items: center;
    justify-content: center;
    flex-direction: row;
    display: flex;
    gap:20px
}

footer ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
}

/* Page pagePro */

#arrow2{
    cursor: pointer;
}

#pageProSection1{
    margin: auto;
    max-width: 1440px;
}

#pageProSection1 h1{
    text-align: center;
}

#pageProSection1 > div > img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#pageProSection1 > div > div{
    display: flex;
    flex-direction: column;
    padding: 15px;
}

#pageProSection1 > div > div > div{
    display: flex;
    justify-content: space-between;
}

#pageProSection1 input[type="checkbox"]:checked + label .fa-thumbs-up{
    color:black;
    font-weight: 700;
}

#pageProSection2{
    padding: 30px 15px;
    border-top: solid 2px var(--orange);
    border-bottom: solid 2px var(--orange);
    max-width: 1440px;
    margin: auto;
}

#pageProSection2 p{
    padding-top: 15px;
}

#pageProSection3{
    padding: 30px 15px;
    max-width: 1440px;
    margin: auto;
    border-bottom: solid 2px var(--orange);
}

#pageProSection3 h2{
    padding-bottom: 20px;
}
#pageProSection3 iframe{
    width: 100%;
    height: 280px;
    object-fit: cover;
}

#pageProSection4{
    padding: 30px 15px 15px 15px;
    max-width: 1440px;
    margin: auto;
}

#pageProSection4 h2{
    padding-bottom: 20px;
}

#pageProSection4 div a{
    display: flex;
    gap: 10px;
}

#pageProSection4 div i{
    color: var(--yellow);
}

#divContact p{
    transition: all 0.3s;
    color: var(--black);
}

#divContact p:hover{
    color: var(--yellow);
    transition: all 0.3s;
}

#pageProSection4 h3{
    padding: 30px 0px;
}
#divContact{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#iconBlack a i{
    color: var(--black);
    transition: all 0.3s;
}

#iconBlack{
    display: flex;
    gap: 20px;
    justify-content: space-around;
    padding-bottom: 30px;
}

#iconBlack a i:hover{
    color: var(--yellow);
    transition: all 0.3s;
}

#pageProSection4 i{
    font-size: 20px;
}

#pageProSection4 form{
    display: grid;
    gap: 10px;
}

#pageProSection4 form input, textarea{
    padding: 7px;
    border: 2px solid var(--orange);
    outline: none;
}

#divForm{
    padding-top: 20px;
    gap: 5px;
    display: flex;
}

#pageProSection4 button{
    margin: 20px auto;
    padding: 10px 35px;
}

#accept{
    display: flex;
}
